<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FRC.CameraServer" version="1.0.0" targetFramework="net452" />
  <package id="FRC.FRC.HAL.DesktopLibraries" version="2017.0.1" targetFramework="net452" />
  <package id="FRC.NetworkTables" version="2016.0.1.16" targetFramework="net452" />
  <package id="FRC.NetworkTables.Core" version="3.1.6" targetFramework="net452" />
  <package id="FRC.NetworkTables.Core.DesktopLibraries" version="3.1.6" targetFramework="net452" />
  <package id="FRC.OpenCvSharp" version="1.0.0" targetFramework="net452" />
  <package id="FRC.Simulators.MonoGameSimulator" version="2016.0.0.7" targetFramework="net452" />
  <package id="FRC.WPILib" version="2017.0.1" targetFramework="net452" />
  <package id="FRC.WPILib.Extras" version="2017.0.1" targetFramework="net452" />
  <package id="FRC.WPILibNativeLibraries" version="2017.0.4" targetFramework="net452" />
  <package id="MonoGame.Framework.WindowsDX" version="3.5.1.1679" targetFramework="net452" />
  <package id="NativeLibraryUtilities" version="1.0.0" targetFramework="net452" />
</packages>