<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FRC.NetworkTables.Core" version="3.1.7" targetFramework="net452" />
  <package id="FRC.NetworkTables.Core.DesktopLibraries" version="3.1.7" targetFramework="net452" />
  <package id="NativeLibraryUtilities" version="1.0.3" targetFramework="net452" />
</packages>